/*--------------------HEAD--------------------*/
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
    font-family: 'Mukta', sans-serif;
    color: #25262a;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/*--------------------HEAD--------------------*/



/*--------------------FOOTER--------------------*/
#footer{
    width: 100%;
    //background: #2ba0db;
    background: #1d68a7;
    text-align: center;
    height: 200px;
}

#footer ul li{
    display: inline-block;
    padding: 10px;
}

#footer ul li a:link{
    //color: #1d68a7;
    color: #25262a;
}

#footer ul li a:visited{
    //color: #1b4b72;
    color: #25262a;
}

#footer ul li a:hover{
    color: #F5F5F5;
}

#footer p{
    font-size: 15px;
}

#footer ul{
    padding-top: 50px;
    padding-bottom: 25px;
}
/*--------------------FOOTER--------------------*/



/*--------------------REGISTER--------------------*/
#register_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#register_drzac{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

#tabela_register tr:last-child{
    text-align: center;
}

#tabela_register tr td{
    padding-left: 25px;
    padding-right: 25px;
}

#tabela_register tr:last-child td{
    padding-top: 10px;
}

#regDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#forma_register{
    padding-bottom: 40px;
}

#regSlika{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}

.reg_greske{
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_greske_drzac{
    width: 650px;
    margin: 0px auto;
    color: red;
}

.reg_greske h4{
    padding-bottom: 5px;
}

.reg_greske h3{
    padding-bottom: 5px;
}

.reg_greske h5{
    padding-bottom: 5px;
}
/*--------------------REGISTER--------------------*/



/*--------------------LOGIN--------------------*/
#login_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#login_drzac{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

#tabela_login tr:last-child td{
    padding-top: 10px;
}

#loginDugme{
    font-weight: bold;
    text-indent: 0px;
    letter-spacing: 1px;
    cursor: pointer;
}

#login_greske{
    width: 100%;
    text-align: center;
    background-color: #F5F5F5;
}

#forma_login{
    padding-bottom: 40px;
}

#login_drzac a:link{
    color: blue;
}

#login_drzac a:visited{
    color: blue;
}

#login_drzac a:hover{
    color: red;
}

#zab_loz_p{
    color: blue;
    cursor: pointer;
}

#zab_loz_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

#zab_loz_p:hover{
    color: red;
}

#resetPassEmailIspis{
    height: 50px;
    text-align: center;
    background-color: #F5F5F5;
}

#resetPassEmailDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#resetPassEmailTabela{
    margin-bottom: 30px;
    padding-top: 30px;
}

#resetPassEmailTabela tr:first-child td {
    text-align: center;
    padding-bottom: 20px;
}
/*--------------------LOGIN--------------------*/



/*--------------------ZAJEDNICKO--------------------*/
.stranice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ispisGreske{
    width: 300px;
    height: 20px;
    margin-bottom: 15px;
    color: red;
    font-size: 15px;
    line-height: 1.1;
}

.naslov_svaki{
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.naslov_svaki p{
    padding-top: 50px;
    padding-bottom: 50px;
}

.inputi{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 300px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

.inputi_dugme{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 300px;
    border: 1px solid #A9A9A9;
}

.greske{
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    color: red;
}

.greske h4{
    padding-bottom: 5px;
}

.greske h3{
    padding-bottom: 5px;
}

.greske h5{
    padding-bottom: 5px;
}

.ispis_uspesno{
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
}

.ispis_uspesno h4{
    padding-bottom: 5px;
}

.ispis_uspesno h3{
    padding-bottom: 5px;
}

.ispis_uspesno h5{
    padding-bottom: 5px;
}

.detaljnije{
    font-size: 15px;
    padding: 10px;
    background-color: #1d68a7;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.detaljnije:link{
    color: white;
}

.detaljnije:visited{
    color: white;
}

.detaljnije:hover{
    color: #25262a;
}
/*--------------------ZAJEDNICKO--------------------*/



/*--------------------ERROR--------------------*/
.errors_uspesno{
    width: 100%;
    text-align: center;
    height: 400px;
    background-color: #F5F5F5;
}

.errors_uspesno h2{
    padding-top: 175px;
}

.errors_neuspesno{
    width: 100%;
    text-align: center;
    color: red;
    height: 400px;
    background-color: #F5F5F5;
}

.errors_neuspesno h2{
    padding-top: 175px;
}
/*--------------------ERROR--------------------*/



/*--------------------RESETPASSWORD--------------------*/
#reset_lozinke_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#reset_lozinke_drzac{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

#resetLozinkeDugme{
    font-weight: bold;
    text-indent: 0px;
    letter-spacing: 1px;
    cursor: pointer;
}

#resetLozinkeGreske{
    margin: 0px auto;
    text-align: center;
    height: 125px;
    padding-top: 30px;
}

#resetLozinkeGreske h4{
    padding-bottom: 5px;
}

#resetLozinkeGreske h5{
    padding-bottom: 5px;
}
/*--------------------RESETPASSWORD--------------------*/



/*--------------------USERPROFILE--------------------*/
#profil_slika_centar{
    text-align: center;
}

#profile_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#profile_drzac{
    margin: 0px auto;
    width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
}

#o_korisniku{
    width: 500px;
    padding-left: 75px;
}

#user_profile_image img{
    max-width: 350px;
}

#user_profile_image table{
    margin-bottom: 30px;
}

#user_profile_image tr td{
    padding-top: 5px;
}

#user_profile_image tr:last-child td{
    padding-top: 10px;
}

#promenaSlikeDugme{
    letter-spacing: 1px;
    cursor: pointer;
    width: 150px;
    height: 25px;
}

#profilnaSlika{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 200px;
}

#promenaProfilneSlikeGreske{
    height: 50px;
    text-align: center;
}
#user_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

#user_info table{
    font-size: 18px;
    width: 350px;
}

#user_info table th{
    background-color: #373737;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
}

#user_info table tr:hover {
    background-color: #ddd;
}

#user_info table tr td{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #A9A9A9;
    height: 40px;
}

#promena_lozinke{
    width: 500px;
    height: 500px;
}

#tabela_promeni_lozinku tr:last-child td{
    padding-top: 10px;
}

#tabela_promeni_lozinku{
    width: 400px;
}

#promenaLozinkeDugme{
    //font-weight: bold;
    text-indent: 0px;
    letter-spacing: 1px;
    cursor: pointer;
}

#formaPromenaLozinke{
    margin: 0px 0px 0px 100px;
}

#promenaLozinkeGreske{
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

#promenaLozinkeGreske h4{
    padding-bottom: 5px;
}

#promenaLozinkeGreske h5{
    padding-bottom: 5px;
}

#novaLozinkaGreska{
    width: 400px;
}

#novaLozinkaGreska2{
    width: 400px;
}
/*--------------------USERPROFILE--------------------*/



/*--------------------CONTACT--------------------*/
#contact_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#contact_sadrzaj_drzac{
    margin: 0px auto;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

#contactEmail{
    font-family: 'Mukta', sans-serif;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
    width: 400px;
    height: 35px;
    font-size: 15px;
}

#poruka{
    font-family: 'Mukta', sans-serif;
    height: 150px;
    font-size: 15px;
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
    width: 400px;
}

#contactDugme{
    font-family: 'Mukta', sans-serif;
    border: 1px solid #A9A9A9;
    width: 400px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

#forma_contact{
    padding-bottom: 10px;
}

.ispisGreskeContact{
    width: 400px;
    height: 20px;
    margin-bottom: 15px;
    color: red;
    font-size: 15px;
}

#contact_greske{
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 10px;
    height: 75px;
}

#contact_greske h4{
    padding-bottom: 5px;
}

#contact_greske h3{
    padding-bottom: 5px;
}

#contact_greske h5{
    padding-bottom: 5px;
}
/*--------------------CONTACT--------------------*/



/*--------------------AUTHOR--------------------*/
#author_sadrzaj{
    width: 100%;
    background-color: #F5F5F5;
}

#author_drzac{
    margin: 0px auto;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 75px;
}

#author_drzac img{
    max-width: 300px;
}

#author_tekst{
    text-align: justify;
    width: 300px;
}

#dokumentacija{
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
}

#dokumentacija a{
    color: #25262a;
}

#dokumentacija a:hover{
    color: #2ba0db;
}
/*--------------------AUTHOR--------------------*/



/*--------------------404--------------------*/
#error404{
    width: 100%;
    text-align: center;
    background-color: rgb(241, 247, 247);
    font-size: 32px;
}

#error404 p{
    padding-top: 50px;
}
/*--------------------404--------------------*/



/*--------------------ADMIN--------------------*/
#aktivnost_sortDiv{
    width: 100%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

#aktivnost_sortDiv form{
    margin-right: 20px;
}

#aktivnost_sort{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 150px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#aktivnost_sortDugme{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 100px;
    border: 1px solid #A9A9A9;
    cursor: pointer;
    //font-weight: bold;
    letter-spacing: 1px;
}

.admin_greske{
    width: 100%;
    text-align: center;
    background-color: #F5F5F5;
}

#admin_greske h4{
    padding-bottom: 5px;
}

#add_uloga{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 125px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#add_aktivan{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 125px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#addUserDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#tabela_adduser tr td{
    padding-left: 25px;
    padding-right: 25px;
}

#updateUserDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#updateUserSlika{
    max-width: 250px;
}

#updateUserSlikaSredina{
    text-align: center;
}

.naslov_svaki_admin{
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: #F5F5F5;
}

.naslov_svaki_admin p{
    padding-top: 50px;
    padding-bottom: 50px;
}

.allUsersSlika{
    max-width: 200px;
    max-height: 200px;
}

#allusers_sadrzaj{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trenutno_nema{
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: #F5F5F5;
}

.trenutno_nema p{
    padding-top: 200px;
    padding-bottom: 200px;
}

#admin_sadrzaj{
    width: 100%;
}

#admin_drzac{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#admin_drzac ul li a{
    display: block;
    margin: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #373737;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 200px;
}

#admin_drzac ul li a:link{
    color: #A9A9A9;
}

#admin_drzac ul li a:visited{
    color: #A9A9A9;
}

#admin_drzac ul li a:hover{
    color: #F5F5F5;
}

#admin_sadrzaj2{
    width: 100%;
}

#admin_drzac2{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#admin_drzac2 ul li{
    display: inline-block;
}

#admin_drzac2 ul li a{
    display: inline-block;
    margin: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #373737;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
}

#admin_drzac2 ul li a:link{
    color: #A9A9A9;
}

#admin_drzac2 ul li a:visited{
    color: #A9A9A9;
}

#admin_drzac2 ul li a:hover{
    color: #F5F5F5;
}

#admin_meni{
    width: 100%;
    text-align: center;
    background-color: #373737;
    color: white;
    letter-spacing: 1px;
}

#admin_meni h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

#tabela_addObjava tr:last-child{
    text-align: center;
}

#tabela_addObjava tr td{
    padding-left: 25px;
    padding-right: 25px;
}

#tabela_addObjava tr:last-child td{
    padding-top: 10px;
}

#tabela_addObjava tr td{
    padding-left: 25px;
    padding-right: 25px;
}

#forma_addObjava{
    padding-bottom: 40px;
}

#addObjavaNaslov{
    font-family: 'Mukta', sans-serif;
    height: 50px;
    font-size: 15px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
    width: 700px;
}

#addObjavaTekst{
    font-family: 'Mukta', sans-serif;
    height: 200px;
    font-size: 15px;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
    width: 700px;
}

#addObjavaKategorija{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 125px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#addObjavaSlika{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}

#addObjavaDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#updateObjavaDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#updateObjavaSlika{
    max-width: 700px;
}

#updateObjavaSlikaSredina{
    text-align: center;
}

#addKategorijaDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#updateKategorijaDugme{
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
/*--------------------ADMIN--------------------*/



/*------------------------*/
.obrisi{
    font-size: 15px;
    padding: 10px;
    //font-weight: bold;
    background-color: darkred;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 5px;
}

.obrisi:link{
    color: #A9A9A9;
}

.obrisi:visited{
    color: #A9A9A9;
}

.obrisi:hover{
    color: white;
}

.detaljnijeD{
    font-size: 15px;
    padding: 10px;
    //font-weight: bold;
    background-color: darkolivegreen;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 5px;
}

.detaljnijeD:link{
    color: #A9A9A9;
}

.detaljnijeD:visited{
    color: #A9A9A9;
}

.detaljnijeD:hover{
    color: white;
}

.tabela {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.tabela td, .tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela tr:nth-child(even){background-color: #f2f2f2;}

.tabela tr:hover {background-color: #ddd;}

.tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #373737;
    color: white;
    letter-spacing: 1px;
}
/*--------------------*/



/*--------------------JEDNAOBJAVA--------------------*/
#jednaobjava_sadrzaj{
    width: 100%;
}

#jednaobjava_drzac{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jednaobjava_tabela{
    width: 900px;
    margin-top: 75px;
}

#jednaobjava_tabela tr td{
    padding-top: 35px;
}

#jednaobjava_slika_img{
    width: 900px;
}

#jednaobjava_slika_div{
    width: 900px;
}

#jednaobjava_tekst{
    width: 900px;
    text-align: justify;
}

#objava_header_tekst td{
    padding-bottom: 10px;
    color: #707070;
}

#komentari_naslov{
    margin: 0px auto;
    width: 900px;
}

#komentari_naslov h5{
    padding-top: 75px;
    padding-bottom: 30px;
}

#komentari_sadrzaj{
    margin: 0px auto;
    width: 900px;
}

#nema_komentara{
    margin: 0px auto;
    width: 900px;
}

#komentari_prijava{
    margin: 0px auto;
    width: 900px;
    padding-bottom: 40px;
}

.jedankomentar{
    width: 700px;
    height: 150px;
    margin-bottom: 50px;
    border-top: 3px solid #2ba0db;
}

.jedankomentar_slika{
    width: 150px;
    height: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jedankomentar_sadrzaj{
    width: 550px;
    height: 150px;
    float: left;
}

.jedankomentar_header{
    width: 550px;
    height: 40px;
    font-size: 12px;
    padding-left: 20px;
    color: #707070;
    padding-top: 5px;
}

.jedankomentar_header_tabela{
    width: 525px;
}

.jedankomentar_header_tabela tr td{
    width: 175px;
}

.jedankomentar_tekst{
    width: 550px;
    height: 110px;
    display: flex;
    align-items: center;
    text-align: justify;
    padding-left: 20px;
}

.jedankomentar_slika_img{
    max-width: 140px;
    max-height: 140px;
}

#dodaj_komentar_naslov{
    margin: 0px auto;
    width: 900px;
    margin-top: 75px;
}

#dodaj_komentar_sadrzaj{
    width: 900px;
    margin: 0px auto;
    margin-top: 20px;
}

#dodaj_komentar{
    width: 700px;
    height: 150px;
    border-left: 3px solid #373737;

}

#dk_slika_div{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#dk_slika_div img{
    max-width: 140px;
    max-height: 140px;
}

#dk_tekst_div{
    width: 444px;
    height: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dk_dugme_div{
    width: 100px;
    height: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dodajKomentarTextarea{
    width: 420px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#dodajKomentarDugme{
    height: 100px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 80px;
    border: 1px solid #A9A9A9;
    //border: none;
    //background-color: #1d68a7;
    //background-color: #707070;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    //color: white;
}

#dodajKomentarDugme:hover{
    color: #25262a;
}

#komentar_greska{
    width: 500px;
    height: 50px;
    color: red;
}
/*--------------------JEDNAOBJAVA--------------------*/



/*nav*/
#nav {
    background: #2ba0db;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    position: relative;
}

#nav ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 20px 20px;
    transition: 0.3s linear;
    letter-spacing: 1px;
}

#nav ul li:hover { background: #126d9b; }

#nav ul li ul {
    border-bottom: 5px solid #2ba0db;
    display: none;
    position: absolute;
    width: 200px;
}

#nav ul li ul li {
    border-top: 1px solid #1d68a7;
    display: block;
}

#nav ul li ul li:first-child { border-top: none; }

#nav ul li ul li a {
//background: #373737;
    background: #1b4b72;
    display: block;
    padding: 10px 14px;
}

#nav ul li ul li a:hover { background: #126d9b; }
/*nav*/



/*--------------------HOME--------------------*/
#logo{
    margin-right: 15px;
}

#logo img{
    height: 50px;
}
#navigacija{
    background: #2ba0db;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#adminLink{
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 20px 20px;
    margin-right: 20px;
}

#adminLink:hover{
    background: #126d9b;
}

.naslov_svaki_boja{
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: #F5F5F5;
}

.naslov_svaki_boja p{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*--------------------HOME--------------------*/



/*--------------------OBJAVE--------------------*/
#objave_sadrzaj{
    width: 100%;
}

#objave_drzac{
    margin: 0px auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

#filter_sort{
    width: 250px;
    padding-top: 35px;
    border-right: 10px solid #F5F5F5;
}

#filter_sort div{
    margin-top: 50px;
    margin-bottom: 50px;
}

#sortiraj{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 150px;
    border: 1px solid #A9A9A9;
    text-indent: 5px;
}

#objave_objavepage{
    margin-right: 100px;
}

#searchDiv{
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
}

#searchDiv input:first-child{
    margin-right: 10px;
}

#searchDiv p{
    margin-right: 20px;
}

#searchButton{
    height: 35px;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    width: 100px;
    //border: 1px solid #A9A9A9;
    cursor: pointer;
    //font-weight: bold;
    letter-spacing: 1px;
    background-color: #1d68a7;
    color: white;
    border: none;
    outline: none;
}

#searchButton:hover{
    color: #25262a;
}
/*--------------------OBJAVE--------------------*/



/*straniceAjax*/
.straniceAjax{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
    height: 70px;
}

.straniceAjax a{
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.straniceAjax a:link{
    color: #25262a;
}

.straniceAjax a:visited{
    color: #25262a;
}

.straniceAjax a:hover{
    color: #25262a;
    background-color: #7971ea;
    border-radius: 5px;
}
/*straniceAjax*/



/*komponenta*/
.objava_sadrzaj{
    width: 100%;
}

.objava_drzac{  /*home page*/
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objava_drzac_objavepage{   /*obajave page*/
    margin: 0px auto;
}

.objava_tabela{
    width: 800px;
}

.objava_tabela tr td{
    padding-top: 35px;
}

.objava_slika_img{
    width: 800px;
}

.objava_slika_div{
    width: 800px;
}

.objava_tekst{
    width: 800px;
    text-align: justify;
}

.objava_detalji td{
    width: 300px;
}

.objava_detalji td{
    text-align: center;
}

.objava_detalji td:last-child{
    text-align: right;
}

.objava_detalji td:first-child{
    text-align: left;
}

.razvdavanje_objava{
    width: 100%;
    border-top: 10px solid #F5F5F5;
    height: 10px;
}
/*komponenta*/



/*ucitavanje*/
.ucitavanje {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0, 0, 0, 0.5)
    url('../images/ucitavanje.gif')
    50% 50%
    no-repeat;
}

body.loading .ucitavanje {
    overflow: hidden;
}

body.loading .ucitavanje {
    display: block;
}
/*ucitavanje*/